.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Noto Sans Khojki';
}

h1 {
    text-align: center;
    color: #333;
}

.search-bar {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

li h3 {
    color: #333;
    margin-bottom: 5px;
}

li p {
    color: #666;
}
