.wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column; /* Mostrar el nombre del campo encima del campo de entrada */
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #c1c1c1; /* Color del botón */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a1a1a1; /* Cambio de color al pasar el cursor */
}
