.Tarjeta {
    font-family: 'Noto Sans Khojki', sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    background-color: #c1c1c1; /* Color de fondo de la tarjeta */
    margin: 0 auto; /* Centrar la tarjeta horizontalmente */
    text-align: center; /* Centrar el texto en la tarjeta */
}

.Tarjeta h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.Tarjeta p {
    margin-top: 8px;
}

.Tarjeta ul {
    margin-top: 8px;
    padding-left: 16px;
}

.Tarjeta li {
    margin-bottom: 4px;
}

.Tarjeta strong {
    font-weight: bold;
}

.Tarjeta button {
    margin-top: 16px; /* Alinear todos los botones a la misma altura */
    padding: 8px 16px;
    background-color: #295856; /* Cambiar el color del botón a un tono naranja */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Media queries para hacer los estilos responsive */
@media (max-width: 768px) {
    .Tarjeta {
        width: 100%; /* Hacer que la tarjeta ocupe todo el ancho en pantallas pequeñas */
        max-width: 100%; /* Evitar que la tarjeta se desborde en pantallas pequeñas */
        margin: 0 auto; /* Centrar la tarjeta horizontalmente en pantallas pequeñas */
    }
}
